body{
    background-color: aquamarine;
}

h2{
    background-color: red;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(0, 92, 92);
    background-color: rgb(148, 211, 240);
    padding: 10px;
}

.link{
    margin-top: 50px;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}